@model IEnumerable<Entidad.CITAS>
@{
    ViewBag.Title = "Create";
}
@{
    Negocio.App_Code.CitasBLL dbci = new Negocio.App_Code.CitasBLL();
 }
<form id="formularioDatos">


    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
        </div><!-- /.col -->
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <br /><br /><br /><br />
                    <h3 class="box-title">Nueva Cita</h3>

                </div><!-- /.box-header -->

            </div>
            <div class="col-sm-12">


                <div class="form-horizontal">

                    <hr />

                    <label>Id Cita:</label>
                    <input id="ID_CITA" name="ID_PACIENTE" class="form-control" required />

                    <label>Fecha:</label>
                    <input id="FECHA" name="FECHA" class="form-control" required />

                    <label>Id Tarea:</label><div id="repetido"></div>
                    <input id="FECHA" name="FECHA" class="form-control" required />

                    <label>Observaciones:</label>
                    <input id="OBSERVACIONES" name="OBSERVACIONES" class="form-control" required />

                    <label>Id Paciente:</label>
                    <input id="ID_PACIENTE" name="ID_PACIENTE" class="form-control" required />

                    <br />

                    <div class="form-group">
                        <div class="col-md-8 ">
                            <input type="submit" value="Guardar" class="btn btn-primary btn-sd" />
                            <button title="Regresar" onclick="location.href='@Url.Action("Cita")';" class=""><i class="btn btn-primary btn-sd">Regresar</i></button>

                        </div>
                    </div>
                </div>
            </div><!-- /.mail-box-messages -->
        </div><!-- /.box <input type="submit" id="btnNuevo" value="Guardar"  class="btn btn-primary" />-body -->
        <div class="box-footer no-padding">

        </div>
    </div><!-- /. box -->
</form>

