
@{
    ViewBag.Title = "Clinica Medica";
}
<br />
<br />
<div class="row">
    <div class="col-xs-12">

        <div class="panel with-nav-tabs panel-primary">
            <div class="panel-heading">
                <h2>Clinica Medica</h2>
                    

            </div>
        </div>
    </div>
</div>

